*{margin: 0;
    padding: 0;

}
.header{background-color: plum;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 40px;

}
.wrapper{overflow: hidden;

}
.content{background-color: wheat;
    width: 70%;
    height: 400px;
    float: left;
    text-align: center;

}
.content h1{padding-top: 180px;

}
.panel{background-color: purple;
    width: 30%;
    height: 400px;
    float: right;
    text-align: center;

}
.panel h1{padding-top: 180px;

}
footer{background-color: violet;
    text-align: center;

}